<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.2.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
       http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd">
	
	<context:property-placeholder location="classpath:jdbc.properties"/>
	 
	<context:component-scan base-package="com.seasy" />
	 
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">         
	    <property name="driverClassName" value="${db.driverClass}"/>         
	    <property name="url" value="${db.jdbcUrl}"/>         
	    <property name="username" value="${db.user}"/>         
	    <property name="password" value="${db.password}"/>    
	    <property name="defaultAutoCommit" value="${db.autoCommitOnClose}" />
	    <property name="initialSize" value="${db.initialSize}"/>         
	    <property name="maxActive" value="${db.maxActive}" />         
	    <property name="maxIdle" value="${db.maxIdle}" />         
	    <property name="maxWait" value="${db.maxWait}" /> 
	</bean>
	
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
      	<property name="dataSource" ref="dataSource" /> 
      	<property  name="mapperLocations"  value="classpath*:mapper/*.xml" />
      	<property name="configLocation" value="classpath:mybatis-config.xml" />
	</bean>
	
	<bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate"> 
      	<constructor-arg index="0" ref="sqlSessionFactory" /> 
	</bean>
	
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.seasy" />
        <property name="markerInterface" value="com.seasy.dao.mybatis.IMapper" />
        <property name="sqlSessionTemplateBeanName" value="sqlSessionTemplate" />
    </bean>
    
    <bean id="mybatisDao" class="com.seasy.dao.mybatis.MybatisDaoImpl">
    	<property name="sqlSessionTemplate" ref="sqlSessionTemplate" />
    </bean>
	 
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">  
    	<property name="dataSource" ref="dataSource" />  
	</bean>
	
	<!-- 使用annotation定义事务 -->
    <tx:annotation-driven transaction-manager="transactionManager" proxy-target-class="true" />
    
    <bean id="springContextHolder" class="com.seasy.core.spring.SpringContextHolder" />
    <bean id="encryptionPolicy" class="com.seasy.core.encryptionpolicy.DefaultEncryptionPolicy" />
    
</beans>